
body {
  background-color: rgb(63, 9, 88);
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.navbar {
  max-height: 60px;
  background-color: rgb(189, 13, 224);
  font-size: 25px; 
  }
  .navigation .navbar-brand {
    color: rgb(8, 85, 99);
    padding: inherit;
    font-weight: bold;
    background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

.navbar-brand {
  padding: inherit;
  font-weight: bold;
  background-color: lightskyblue;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: rgb(8, 248, 236) !important;
  }

.dropdown-item {
  color: #213159 !important;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: white !important;
}

.nav-link:hover {
  background-color:gray !important;
 }

.navbar-brand:hover {
color: #07bcf3 !important;
}

a {
  color:black;
  font-size: 15px;

}

/* Images */
img{
  width:100% !important;
  height:100% !important;
}
.active, .panel:hover {
  border-color:#213159;
  border-style: solid;
  
}
.visualizations {
  width:100% !important;
  height:100% !important;
  
}

/* Title */
.title {
  color: #3d6098;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  padding-top: 40px;
}

h2.title {
  color: #350af3f1;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  padding-top: 40px;
}

h3.title {
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 40px;

}
/* Paragraph */
p {
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

/* Box */
.box {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 60px 90px 60px;
  color: #213159;
  background-color: white;
}

/* Table */
.table {
  font-size: 15px;
  border-top-color: gray !important;
}


/* Media Queries */
@media(max-width: 992px) {
  .navbar-expand-lg {
  background-color: #213159 !important;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: gray;
  }
  .navbar-brand {
    padding: 10px !important;
  }
  button{
    margin-right: 30px;
  }
  button:focus {
    outline: 2px dotted;
    outline: auto 5px;
  }
}
